In [7]:
import pandas as pd
import matplotlib.pyplot as plt
# from readeplus_sql import *
from geetools.read import sql
# import sqlite3 as sq

In [3]:
# pip install git+https://github.com/AltamarMx/geetools.git

In [9]:
read_eplusql()

TypeError: __init__() missing 1 required positional argument: 'file'

In [8]:
df = read_eplusql("../data/eplusout.sql",read='all',rename=True)#by default reads everything and rename Ti,To
# df = read_eplusql("../data/clase06.sql",read='all')#by default reads everything and rename Ti,To

# df = read_eplusql("../data/eplusoutTo.sql",read='construction') # reads only construction systems
# df = read_eplusql("../data/eplusoutTo.sql",read='data',rename_ZMAT=True) # reads only data

AttributeError: type object 'sql' has no attribute 'connect'

In [ ]:
df.vars_numbered

In [ ]:
df.rename_cols([8],["TZ3_RH"])
df.vars_numbered

In [ ]:
df.vars

In [ ]:
cs = df.construction_systems
cs

In [ ]:
df.get_construction(cs)

In [ ]:
df.get_construction(['PS-05']) # items should be passed as lists

In [ ]:
variables = ['To',"Ti"]
caso1 = df.get_data(variables)
caso1.plot(subplots=True,figsize=(12,12));

In [ ]:
variables = df.vars
caso1 = df.get_data(variables)

fig, ax = plt.subplots(len(variables),figsize=(20,50))

for i,variable in enumerate(variables):
    ax[i].plot(caso1[variable].index,caso1[variable],'r.',label=variable)
    ax[i].legend()