In [ ]:
# pip install git+https://github.com/AltamarMx/iertools.git

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
# from iertools.read import read_sql

In [102]:
base = read_sql("../data/cventanas.sql",read='all')

In [103]:
diccionario = base.json_from_sql()

In [104]:
diccionario['Environment:Site Diffuse Solar Radiation Rate per Area (W/m2)'] = 'Id'
diccionario['Environment:Site Wind Speed (m/s)'] = 'ws'
diccionario['Environment:Site Outdoor Air Relative Humidity (%)'] = 'rh'

In [88]:
base.data.rename(columns=diccionario)

variable_name,Id,Environment:Site Direct Solar Radiation Rate per Area (W/m2),To,rh,ws,PAESTE:Zone Air Relative Humidity (%),PAESTE:Zone Air Temperature (C),Ti_PAESTE,PAOESTE:Zone Air Relative Humidity (%),PAOESTE:Zone Air Temperature (C),Ti_PAOESTE,PBESTE:Zone Air Relative Humidity (%),PBESTE:Zone Air Temperature (C),Ti_PBESTE,PBOESTE:Zone Air Relative Humidity (%),PBOESTE:Zone Air Temperature (C),Ti_PBOESTE
date,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,0.0,0.0,12.000000,64.0,2.800000,21.717257,29.617091,29.492201,23.488914,29.29112,29.284712,21.609127,29.264435,29.131295,22.140435,29.207201,29.131432
2006-01-01 00:10:00,0.0,0.0,11.866667,64.5,2.450000,NaN,NaN,29.344810,NaN,NaN,29.165154,NaN,NaN,28.982822,NaN,NaN,28.992184
2006-01-01 00:20:00,0.0,0.0,11.733333,65.0,2.100000,NaN,NaN,29.291789,NaN,NaN,29.158079,NaN,NaN,28.929116,NaN,NaN,28.959951
2006-01-01 00:30:00,0.0,0.0,11.600000,65.5,1.750000,NaN,NaN,29.237965,NaN,NaN,29.149712,NaN,NaN,28.875213,NaN,NaN,28.926964
2006-01-01 00:40:00,0.0,0.0,11.466667,66.0,1.400000,NaN,NaN,29.183670,NaN,NaN,29.139762,NaN,NaN,28.821293,NaN,NaN,28.893408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-12-31 23:10:00,0.0,0.0,18.000000,56.5,1.416667,NaN,NaN,29.722501,NaN,NaN,28.704061,NaN,NaN,29.449472,NaN,NaN,29.143263
2006-12-31 23:20:00,0.0,0.0,17.900000,57.0,1.433333,NaN,NaN,29.685101,NaN,NaN,28.718681,NaN,NaN,29.407334,NaN,NaN,29.126692
2006-12-31 23:30:00,0.0,0.0,17.800000,57.5,1.450000,NaN,NaN,29.647080,NaN,NaN,28.731536,NaN,NaN,29.365084,NaN,NaN,29.110108
2006-12-31 23:40:00,0.0,0.0,17.700000,58.0,1.466667,NaN,NaN,29.608632,NaN,NaN,28.742656,NaN,NaN,29.323145,NaN,NaN,29.093422
2006-12-31 23:50:00,0.0,0.0,17.600000,58.5,1.483333,NaN,NaN,29.569959,NaN,NaN,28.752131,NaN,NaN,29.281771,NaN,NaN,29.076613

In [49]:
nombres  = base.json_from_rvi('../data/eplusout.rvi')
nombres

{'Environment:Site Outdoor Air Drybulb Temperature': 'To',
 'N1AU401:Zone Air Relative Humidity': 'N1AU401:Zone Air Relative Humidity',
 'N1AU401:Zone Air Temperature': 'N1AU401:Zone Air Temperature',
 'N1AU401:Zone Mean Air Temperature': 'Ti_N1AU401',
 'N1AU402:Zone Air Relative Humidity': 'N1AU402:Zone Air Relative Humidity',
 'N1AU402:Zone Air Temperature': 'N1AU402:Zone Air Temperature',
 'N1AU402:Zone Mean Air Temperature': 'Ti_N1AU402',
 'N1AU403:Zone Air Relative Humidity': 'N1AU403:Zone Air Relative Humidity',
 'N1AU403:Zone Air Temperature': 'N1AU403:Zone Air Temperature',
 'N1AU403:Zone Mean Air Temperature': 'Ti_N1AU403'}

In [ ]:
# json_rvi = read_sql.json_from_rvi("../data/eplusout.rvi")#by default reads everything and rename Ti,To
my_sql = read_sql("../data/eplusout.sql", cols_json=json_rvi)
df = my_sql.data
# df = read_eplusql("../data/clase06.sql",read='all')

# df = read_eplusql("../data/eplusoutTo.sql",read='construction') # reads only construction systems
# df = read_eplusql("../data/eplusoutTo.sql",read='data',rename_ZMAT=True) # reads only data

In [ ]:
json_rvi

In [ ]:
df.columns

In [ ]:
my_sql.vars_numbered

In [ ]:
my_sql.rename_cols([8],["Tii_N1AU403"])
my_sql.vars_numbered

In [ ]:
my_sql.vars

In [ ]:
cs = my_sql.construction_systems
cs

In [ ]:
my_sql.get_construction(cs)

In [ ]:
my_sql.get_construction(['PS-05']) # items should be passed as lists

In [ ]:
variables = ['To',"Ti"]
caso1 = my_sql.get_data(variables)
caso1.plot(subplots=True,figsize=(12,12));